.jumbotron {
  text-align: center;
  color: white;
  font-size: 24pt;
  background-color: #00b3b4;
}

h2 {
  text-align: center;
  display: block;
}

button{
  background-color: #00b3b4;
  color: white;
}

.php{
  display: none;
}

.c{
  display: none;

}

.ruby {

  display: none;

}

.java {
  display: none;
}
